.git
.gitignore
.python-version
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
.mypy_cache

.DS_Store
app_debug.log
.k8s-port-forward
_leaflet_comp
src/nimbuschain_fetch_ui/_leaflet_comp

data/downloads
data/nimbus.db
data/nimbus.db-shm
data/nimbus.db-wal
*.zarr
tmp_mask_cloud_service.zarr
tmp_zarr_preview.png
data/**/.DS_Store
data/**/.st-tree.cache

dist
build
*.egg-info
