apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: nimbus-worker
  namespace: nimbuschain
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: nimbus-worker
  minReplicas: 1
  maxReplicas: 12
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75
